<h1 style="color:green">
  welcome Admin{{name}}
</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">OnlineCustomerServiceCenter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link">Admin Service <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a *ngIf="adminFlag" class="nav-link" routerLink="/operator">Operator Service <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div class="my-2 my-lg-0">
      <a class="btn btn-primary" href="/login" role="button"  routerLink="/logout">Log Out</a>
    </div>
  </div>
</nav>
<tbody>
  <tr>
    <td><a *ngIf="adminFlag" routerLink="/createDepartment">CREATE DEPARTMENT</a></td>
  </tr>
  <tr>
    <td><a *ngIf="adminFlag" routerLink="/viewDepartment">VIEW ALL DEPARTMENT</a></td>
  </tr>
  <tr>
    <td><a *ngIf="adminFlag" routerLink="/findDepartment">SEARCH DEPARTMENT</a></td>
    </tr>
    <tr>
      <td><a *ngIf="adminFlag" routerLink="/Createoperator">CREATE OPERATOR</a></td>
    </tr>
    <tr>
      <td><a *ngIf="adminFlag" routerLink="/Viewoperator">VIEW OPERATOR</a></td>
    </tr>
    <tr>
      <td><a *ngIf="adminFlag" routerLink="/Findoperator">SEARCH OPERATOR</a></td>
    </tr>
    <tr>
      <td><a *ngIf="customerFlag" routerLink="/ViewIssue">VIEW ISSUE</a></td><br>
    </tr>
    <tr>
      <td><a *ngIf="customerFlag" routerLink="/findissuebyid">FindIssueById</a></td><br>
    </tr>
    <tr>
      <td><a  *ngIf="customerFlag" routerLink="/changepassword">ChangePassWord</a></td><br>
    </tr>
    <tr>
      <td><a  *ngIf="customerFlag" routerLink="/sendmailpassword">Send PassWord To Mail</a></td><br>
    </tr>
   <!--<tr>
      <td><a *ngIf="adminFlag" routerLink="/operator">Are u Operator??</a></td>
    </tr>
  <tr>
    <td><a  routerLink="/logout">Log Out</a></td>
  </tr>-->

</tbody>
<!-- <li><a *ngIf="adminFlag" routerLink="/operator">Operator Service</a></li> -->
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>-->

