<p>
  find-custmer works!
</p>
<form>
  Enter Operator ID:<input type="text" [(ngModel)]="operatorId" name="operatorId" placeholder="Enter Operator ID"><br><br>
  <button type="button" (click)="searchcustById()">Search Customer</button>
</form>
<!-- <form>
  Enter Operator Name:<input type="text" [(ngModel)]="firstName" name="firstName" placeholder="Enter Operator First Name"><br><br>
  <button type="button" (click)="searchcustByName()">Search Customer</button>
</form> -->
<form>
  Enter Operator Email:<input type="text" [(ngModel)]="email" name="email" placeholder="Enter Operator Email"><br><br>
  <button type="button" (click)="searchcustByEmail()">Search Customer</button>
</form>
<table>
  <thead>
    <tr>
      <th>CUSTOMER ID</th>
      <th>CUSTOMER FIRST NAME</th>
      <th>CUSTOMER LAST NAME</th>
      <th>CUSTOMER EMAIL</th>
      <th>CUSTOMER MOBILE</th>
      <th>CUSTOMER CITY</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{customer.customerId}}</td>
      <td>{{customer.firstName}}</td>
      <td>{{customer.lastName}}</td>
      <td>{{customer.email}}</td>
      <td>{{customer.mobile}}</td>
      <td>{{customer.city}}</td>
    </tr>
  </tbody>
</table>
